body {
  font-family: 'Courier New', Courier, monospace;
  padding: 0px;
  margin: 0;
  background-color: #d3d3d3; 
  width: 400px;
  box-sizing: border-box; /
}


#title {
  text-align: center;
  margin-bottom: 15px;
}

#text {
  text-align: center;
  margin-bottom: 15px;
}

#scan {
  margin: 10px auto;
  display: block;
  width: 200px;
  font-size: 14px;
}

#ai-btn {
  margin: 10px auto;
  display: block;
  width: 200px;
  font-size: 14px;
}

p{
  font-size: 12px;
}
